<header>
  <div (click)="onShowMenu()">
    <svg
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      stroke="#000000"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M5 8H13.75M5 12H19M10.25 16L19 16"
          stroke="#000000"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </g>
    </svg>
  </div>

  @if (showMenu) {
  <nav>
    <ul>
      <li><a routerLink="/home">HOME</a></li>
      <li>ABOUT US</li>
      <li>CONTACT US</li>
      <li>HELP SOMEONE</li>
      <li>ASK FOR HELP</li>
    </ul>
    <ul>
      <ng-content></ng-content>
    </ul>
  </nav>
}
</header>
