* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Josefin Sans", serif;
  color: var(--primary-color-dark);
}

main {
  background-color: var(--primary-color-light);
}
ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  li,
  a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  li:hover {
    text-decoration: underline;
  }
}
input{
  border: none;
  padding: 15px 1.4rem;
  border-radius: 1.5rem;
 box-shadow: 0 0.4px 0.5px 0.5px var(  --neutral-color-dark1);
}
:root {
  --primary-color-dark: #250112;
  --primary-color: #1469c0;
  --primary-color-light: #fff2f2;

  --neutral-color-dark2: #1d3e5b;
  --neutral-color-dark1: #496984;
  --neutral-color-light1: #9bb6ca;
  --neutral-color-light2: #ffd0d8;

  --error-color: #be1a1a;
  --warning-color: #f7d070;
  --success-color: #159815;
  --info-color: #1469c0;

  --success-light-color: #d4edda;
  --success-progress-bg-color: #77b285;

  --error-light-color: #f8d7da;
  --error-progress-bg-color: #e5a1a1;

  --warning-light-color: #fff3cd;
  --warning-progress-bg-color: #fce588;

  --info-light-color: #cce5ff;
  --info-progress-bg-color: #82bfd3;

  --header-height: 60px;
  --mat-card-background-color: #faf9fd;

  --pending-background-color: rgba(240, 173, 78, 0.1);
  --pending-color: #e68d11;

  --fulfilled-background-color: rgba(92, 184, 92, 0.3);
  --fulfilled-color: #098109;

  --completed-background-color: rgba(0, 123, 255, 0.1);
  --completed-color: #0056b3;

  --declined-background-color: rgba(244, 67, 54, 0.1);
  --declined-color: #f44336;

  --submitted-background-color: rgba(147, 112, 219, 0.1);
  --submitted-color: #4b0082;

  --ordered-background-color: rgba(147, 112, 219, 0.1);
  --ordered-color: #4b0082;
}
